* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

@media screen and (max-width: 3000px) {

html {
    font-size: 16px;
}

body {
    background-image: url("./Asset/macigy_ilustration_picture_for_article_about_chatgpt_and_UI_7100ce80-86ca-446a-9080-58a8c94ae8f3.png");
    background-size: cover;
    background-repeat: no-repeat;
    --roxo: #700aac;
    --preto: #1a1a1a;
}

section {
    max-width: 200vh;
    max-height: 100vh;
}

.fundo {
    margin: 0% 7.5%;
    padding-bottom: 1%;

    color: #000;
    background-color: #fff;
}

.fundo.dark-mode {
    margin: 0% 7.5%;

    color: #dadada;
    background-color: #222; 
}

.dudateste {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.726);
}

.dudateste img {
    max-width: 90%;
    max-height: 90%;
}

main {
    display: flex;

    height: 100vh;

}

.texto {
    width: 50%;
    height: auto;
}  

.texto-grande h2 {
    margin-top: 18%;
    margin-bottom: 0%;
    margin-left: 17%;

    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
}
  
.texto-grande h1 {
    display: flex;

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 17%;

    font-size: 3.7em;
    font-family: 'Poppins', sans-serif;

     /* color: #dadada; */
}

.texto-grande h5 {
    margin-top: 0%;
    margin-bottom: 2.6%;
    margin-left: 17%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: fit-content;

    font-size: 0.83em;
    font-family: 'Poppins', sans-serif;

    background-color: var(--roxo);
}

.texto-grande p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 3%;

    font-size: 1.04em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
    color: var(--roxo);   
}

.texto-menores p {
    margin-left: 17%;
    margin-right: 7.2%;
    
    font-size: 1em;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.butao {
    border-radius: 2.06em;
    border: none;

    margin: 2%;
    padding: 2% 4%;
    margin-left: 17%;

    font-family: 'Poppins', sans-serif;
    font-weight: Bold;

    background-color: var(--roxo);

    cursor: pointer;
}

.imagem {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 50%;

    text-align: center;

    background-image: url("./Asset/WhatsApp\ Image\ 2023-02-14\ at\ 17.04.53.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.seta {
    position: fixed;

    margin-right: -8.6%;
}

.menu {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;

    box-shadow: 0.5em 0.6em 0.93em black;
    border-radius: 1.25em;

    height: 50vh;
    margin-right: -4.2%;
    padding: 0.5%; 

    background-color: var(--roxo);

    opacity: 0;
    transition: all 500ms ease-in-out;
}

.box svg {
    width: 1,56rem;
    height: 1,56rem;

    transition: all 500ms ease-in-out;
    cursor: pointer;
}  

.dark {
    fill: #fff;
}

.about-me {
    margin: 1.8% 9% 1.8% 9%;

    text-align: justify;

    /* background-color: var(--preto); */
}

.about-me h1 {
    font-size: 3.76em;

    margin-bottom: 3.3%; 

    font-family: 'Poppins', sans-serif;

    color: var(--roxo);
}

.about-me h2 {
    margin: 3.3% 0%;  

    font-size: 2.52em;
    font-family: 'Poppins', sans-serif;

    color: var(--roxo);
}

.about-me p {
    font-size: 1em;
}

.my-projects {
    margin: 3% 0%;
}

.my-projects h2 {    
    display: flex;
    justify-content: center;

    margin-bottom: 1.2%;

    font-size: 3em;
    font-family: 'Poppins', sans-serif;

    color: var(--roxo);
}

.container {
    position: relative;

    border: 0.62em double rgb(48, 48, 48);

    padding: 2%;
    margin: 0 auto;
    max-width: 80em;
    max-height: 45em;

    background-color: #000;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.6%;
}

.gallery-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left,
.right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;

    border: none;

    width: 14%;

    font-size: 1.87em;
    text-align: left;

    color: #fff;
    background: linear-gradient(to left, transparent 0%, var(--roxo) 100%);

    cursor: pointer;
    opacity: 0.3;
    transition: all 400ms ease-in-out;
}

.right {
    left: auto;
    right: 0;

    text-align: right;

    background: linear-gradient(to right, transparent 0%, var(--roxo) 100%); 
}

.left:hover,
.right:hover {
    opacity: 1;
}

.my-projects img {
    width: 48vw;
    height: 48vh;
}

.item {
    flex-shrink: 0;

    border: 0.06em solid gray;

    min-height: 75vh;
    min-width: 35vw;

    opacity: 0.6;
    transition: all 400ms ease-in-out;
}

.current-item {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.contate-nos {
    margin: 1% 1.7%;
    margin-bottom: 0%;

    font-family: 'Poppins', sans-serif;
}

.contate-nos h1 {
    font-size: 3em;
    margin-bottom: 3.8%;
    color: var(--roxo);
}

form {
    padding: 0em 5em;

    font-size: 1em;
}

.inputs {
    display: flex;

    margin: 2.2% 0%;

}

.contate-nos input {
    border-radius: 0.31em;
    border: 0.06em solid #ccc;
    box-shadow: 0 0 0.31em #ccc;

    width: 43.75rem;

    font-size: 1.25em;

    color: #333;
}

.Mensagem {
    display: flex;
    align-items: center;
}

#input-nome {
    margin-left: auto;
    width: 70%;

    font-size: 1em;
}

#input-email {
    width: 70%;
    margin-left: auto;

    font-size: 1em;
}

#input-Numero {
    width: 70%;
    margin-bottom: 1.25em;
    margin-left: auto;

    font-size: 1em;
}

#input-Mensagem {
    border-radius: 0.31em;
    border: 0.06em solid #ccc;
    box-shadow: 0 0 0.31em #ccc;

    margin-top: 0%;
    margin-left: auto;
    height: 12.5rem;
    width: 70%;

    font-size: 1em;
}

.a {
    display:flex;
    justify-content: flex-end;
}

.envio {
    border-radius: 0.31em ;
    border: none ;

    margin-top: 1.25em ;
    padding: 0.18em 1.25em;
    width: fit-content;

    background-color: rgb(121, 121, 121);
    box-shadow: 0,37em 0,37em 0.62em rgb(105, 105, 105) ;
    color: #dadada;
}


.midia {
    display: flex;
    justify-content: center;   

    margin: 1.5em 0em;
}

.midia a {
    margin: 0.5% 1.2%;
    margin-bottom: 0em;
}

}

/*====================================================================*/

@media screen and (max-width: 512px) {

body {
    font-size: 15px;
}

section {
    max-width: 100vh;
    max-height: 100vh;

    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column-reverse;

    height: fit-content;
}

.imagem {
    width: 100%;
    height: 40vh;
}

.vazio {
    height: 10px;

    background-color: #000;
}

.texto {
    width: 100%;
}

.texto-grande h2 {
    margin-top: 10%;
    margin-left: 5%;
}

.texto-grande h1 {
    margin-left: 5%;
}

.texto-grande h5 {
    margin-left: 5%;
}

.texto-menores p {
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 7%;
}

.butao {
    margin-left: 5%;
}

.seta {
    margin-top: 100%;
    margin-right: -12%;
}

.menu {
    z-index: 10;

    margin-top: 100%;
    margin-right: 1%;
}

.about-me h1 {
    flex-wrap: nowrap;

    margin-top: 10%;
    margin-bottom: 10%;

    font-size: 3.56em;
}

.about-me h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container {
    padding: 2% 6%;
}

.item  {
    min-height: 35vh;
    min-width: 65vw;
}

.contate-nos {
    margin: 0.5% 0%;
    margin-bottom: 0%;

    font-family: 'Poppins', sans-serif;
}

form {
    padding: 0em 2em;
}

.contate-nos h1 {
    margin-top: 15%;

    font-size: 2.5em;
} 

.inputs {
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
}

.contate-nos label {
    margin-bottom: 4%;
}

#input-nome {
    width: 100%;
    margin-left: auto;

    font-size: 1em;
}

#input-email {
    width: 100%;
    margin-left: auto;

    font-size: 1em;
}

#input-Numero {
    width: 100%;
    margin-left: auto;
    margin-bottom: 1.25em;
}

#input-Mensagem {
    width: 100%;
    margin-left: auto;
}

.midia {
    display: flex;
    flex-wrap: wrap;

    margin-left: 10%;
    max-width: 80%;
}

}